
input {
font-size: 14px;
margin: 0;
padding: 5px 13px;
border: solid 1px #212121;
border-radius: 3px;
text-align: center;
  }

.searchbar{
padding: 5px 0px;
text-align: center;
display: block;
}

.App {
width: 100%;
}
