h4 {
  background-color: teal;
  color: white;
  text-align: center;
  height: 25px;
  font-size: 12px;
  margin: 0px;
}

.main-card-container {
  padding: 2px 0px;
}

.event-card, .hiddeninfo {
  width: 90%;
  background-color: white;
  text-align: center;
  margin: auto;
}

.date-container{
  margin: auto;
  width: 25%;
}

.main-block {
  width: 50%;
}

.date-container p{
  color: red;
  text-align: center;
  margin: 0px;
}

.mark-favorite-container {
  width: 20%;
  height: 50px;
}

.mark-favorite-container.false {
background: url('../images/grayheart.png') no-repeat center;
background-size: 20px;
}

.mark-favorite-container.true {
    background: url('../images/redheart.png') no-repeat center;
    background-size: 20px;
}

.horiz-block {
  display: inline-block;
}

.labels-container, .values-container {
  display: inline-block;
}

.labels-container {
  width: 23%;
  text-align: left;
  margin-left: 0px;
  background-color: gray;
  height: 100%;
  color: white;
}

.values-container {
  width: 70%;
  text-align: left;
}

span {
  font-size: 10px;
  width: 50%;
}

.top-block {
  display: flex;
  margin: 0px;
}
