h4 {
  background-color: teal;
  color: white;
  text-align: center;
  height: 25px;
  font-size: 12px;
  padding-top: 3px;
}

.event-card {
  width: 100%;
  display: block;
  border: 2px solid teal;
  background-color: white;
  text-align: center;
  margin-bottom: 5px; 
}

.labels {
  display: block;
  color: white;
  font-size: 10px
}

.values {
  display: block;
  font-size: 10px;
  text-align: justify;
}

.values-container {
  display: inline-block;
  text-align: justify;
  margin-top: -12px;
  margin-bottom: -20px;
}

.labels-container {
  display: inline-block;
  margin-right: 30%;
  background-color: gray;
  opacity: 0.9;
  height: 100%;
  width: 20%;
  float: left;
  margin-top: -12px;
  margin-bottom: -20px;
}

.date {
position: absolute;
margin: auto;
}

.event-month {
  font-size: 20px;
  margin-left: 20px
  ;
}

.event-day {
  font-size: 16px;
  margin-left: 20px;
}

.mark-favorite {
  font-size: 15px;
  text-align: center;
  margin-top: -35px;
  margin-left: 75%;
  background-color: gray;
}

.mark-favorite:hover {
  background-color: red;
}

.location {
  text-align: center;
  font-size: 12px;
  position: absolute;
  margin-left: 75%;
  margin-top: -8%;
  color: navy;
}

.sanctions {
  color: navy;
  font-size: 12px;
}

h5 {
  text-align: center;
  font-size: 15px;
  padding: 0px;
  margin: 5px auto;
}
