h4 {
  background-color: teal;
  color: white;
  text-align: center;;
  height: 20px;
  font-size: 12px;
  padding-left: 8px;
  padding-top: 3px;
}

.event-card {
  width: 80%;
  margin: auto;
  border-color: black;
  border-width: 5px;
  background-color: white;
  text-align: center;
}

.showmore-btn {
  display: block;
  margin: auto;
}

p {
  font-size: 12px;
  text-align: center;
  display: inline-block;
}

.details {
  display: block;
}


.values-container {
  display: inline-block;
}

.labels-container {
  display: inline-block;
  margin-right: 30%;
  background-color: gray;
  height: 100%;
}

.date {
  float: left;
  margin: auto;
}

.event-month {
  font-size: 20px;
  margin: auto;
}

.event-day {
  font-size: 16px;

}

.favorite-btn {
  font-size: 15px;
  text-align: center;
  float: right;
  background-color: gray;
}

.favorite-btn:hover {
  background-color: yellow;
}
