button {
  border: none;
  font-size: fill;
  border-radius: 2px;
  border: 2px solid black;
  background-color: gray;
  text-decoration: none;
  opacity: 0.8;
  display: inline-flex;
  margin: 0px 2px 5px 5px;
  width: 20%;
  height: 5%;
}

button:hover {
    cursor: pointer;
    background-color: maroon;
  }

.button-text {
  text-align: center;
  padding: 0px;
}

nav {
  margin: auto;
  text-align: center;
  width: fill;
}

.App-header {
    background: teal;
    height: inherit;
  }

.link {
    text-decoration: none;
    letter-spacing: 2px;
  }

.title {
  font-size: 30px;
  letter-spacing: 4px;
  text-align: center;
  color: black;
  }

.button-text {
  color: black;
  letter-spacing: 2px;
}
