button {
  border: none;
  font-size: fill;
  text-decoration: none;
  border-radius: 5px;
  width: 25%;
}

button:hover {
    cursor: pointer;
  }

button.true {
  background-color: #0F6669;
}

.button-text {
  text-align: center;
  padding: 0px;
}

nav {
display: flex;
text-align: center;
width: 100%;
justify-content: space-between;
}

.App-header {
    background: teal;

    width: 100%;
  }

.link {
    text-decoration: none;
    letter-spacing: 2px;
  }

.title {
  font-size: 30px;
  letter-spacing: 4px;
  text-align: center;
  color: black;
  margin-top: 20px;
  }

.button-text {
  color: black;
  letter-spacing: 2px;
}
