button {
  margin: 0 20px;
  padding: 5px 5px;
  border: none;
  text-align: center;
  font-size: 12px;
  border-radius: 3px;
  background-color: gray;
  outline: 0;
  text-decoration: none;
}

button:hover {
    cursor: pointer;
    background-color: maroon;
  }
