.new-event-input {
font-size: 12px;
border: solid 1px #212121;
border-radius: 3px;
text-align: center;
width: 50%;
  }

.input-label {
  display: inline;
  text-align: center;
  font-size: 12px;
  letter-spacing: 2px;
}

.save-event-button {
  background-color: white;
  color: maroon;
  text-align: center;
  margin: auto;
  width: 50%;
  margin: 10px;
  height: 20px;
}

.new-input-form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.new-event {
  text-align: center;
}
